[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.6"
django-ckeditor = "==6.7.1"
django-ckeditor-5 = "==0.2.13"
django-crispy-forms = "==1.10.0"
django-debug-toolbar = "==4.3.0"
django-dotenv = "==1.4.2"
django-environ = "==0.11.2"
django-mptt = "==0.16.0"
django-static-fontawesome = "==6.5.2.0"
django-taggit = "==5.0.1"
gunicorn = "==22.0.0"
pillow = "==10.2.0"
psycopg2-binary = "==2.9.9"

[dev-packages]

[requires]
python_version = "3.11"
