{% extends "base.html" %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>A passionate Engineering student looking for a challenging position in a reputed organization to expand and apply my learning, skills and knowledge.</p>
        </div>

        <div class="row">
          <div class="col-lg-5">
            

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>KSR EDUCATIONAL INSTITUTIONS</h4>
              <h5>2021 - 2025</h5>
              <p>B TECH INFORMATION TECHNOLOGY(IT)</p>
              <p> I am an ambitious IT Engineering student with a 79% CGPA, reflecting my dedication and consistent academic performance.
                 </p>
            </div>
            <div class="resume-item">
              <h4>MODEL SCHOOL</h4>
              <h5>2019 - 2021</h5>
              <p>I studied in Model School Chinnampalli for my 11th and 12th standard, achieving an impressive 83% in the Maths-Biology group.</p>
            </div>
            <div class="resume-item">
              <h5>2018 - 2018</h5>
              <p>I studied in Model School Chinnampalli for my 10th standard, achieving an impressive 80%</p>
            </div>
            <div class="resume-item">
              <h5>PERCENTAGE</h5>
              <P>10TH - 79%</P>
              <P>10TH - 83%</P>
              <P>B TECH - 79%</P>
            </div>
            <div class="resume-item">
              <h5>may 2023 - june2024</h5>
              <P>SUDOBOAT PVT LTD</P>
              <p>At Sudoboat I Learned  Basic HTML , CSS , JS . It is a online internship , i started my career as a front-end developer in sudoboat </p>
            </div>
            <div class="resume-item">
              <h4>Professional Experience</h4>
              <h5>Aug 2023 - June 2024</h5>
              <P>JOVE MULTISYSTEMS PVT LTD</P>
              <p>At Jove Multisystem, I worked on three projects , face recognition application in Django, an e-commerce platform, and a water management system. These projects were developed using Python Django and utilized important libraries such as dlib, and TensorFlow for face recognition. All three projects were completed successfully and are functioning perfectly. Additionally, I occasionally contributed to networking tasks.</p>
            </div>
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Vasanthkumar</h4>
              <p>Innovative and deadline-driven fullstact & Web Designer with 1+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</p>
              <p>
              <ul>
                <li>Dharmapuri , Tamilnadu , 636811</li>
                <li>91+ 93446 57323</li>
                <li>vaxanth01@gmail.com</li>
              </ul>
              </p>
            </div>
            
          </div>
          
          <div class="col-lg-7 mt-4 ">
            <h4 class="text-center">Professional Resume</h4>

            <section id="he" class="d-flex align-items-center">
              <div class="container d-flex flex-column align-items-center text-muted move-up-1inch" data-aos="zoom-in" data-aos-delay="10">
              </div>
            </section>
            <div class="resume-item mt-4">
              <h4>fullstack development</h4>
              <h5>2023 - Present</h5>
              <p><em>Chennai , porur . </em></p>
              <p>
              <ul>
                <li>Lead in the Django, backend development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $200 - $25,000</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>
  
  <style>
    
    
    #he {
      position: relative;
      width: 100%;
      height: 150vh;
      /* overflow: hidden; */
    }
  
    #he::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("../static/assets/img/vasanth_resume.jpg") top center;
      background-size: cover;
      /* opacity: 0.9; Adjust the opacity value as needed */
      z-index: 1;
    }
  
    #he .container {
      position: relative;
      z-index: 2;
    }
  </style>
    

  {% endblock content %}
